body {
    padding: 0;
    margin: 0;
}


 /* FLEX */ 
 
.menu {
    width: 250px;
    background: indigo;
    color: white;
}

.content {
    padding: 2em;
    width: 100%;
}

.wrap {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}


/*FLOAT*/
/*
.wrap {
    min-height: 100vh;
}

.menu {
    float: left;
    width: 250px;
    height: 100vh;
    background: indigo;
    color: white;
}

.content { 
    margin-left: 250px;
    height: 100vh;
}
/*Для того чтобы сдвинуть содержимое content придется оборачивать текст в отдельный div, 
иначе блок уедет вместе с padding/margin*/

/*INLINE-BLOCK*/

/*
.wrap {
    height: 100vh;
    width: 100%;
    padding-bottom: 3px;
}

.wrap div {
    display: inline-block;
    height: 100%;
 }

.wrap .menu {
    background-color: indigo;
    width: 250px;
    color: white;
}

.wrap .content {
    border-left: none;
    vertical-align: top;
    width: 990px;

}

.content {
    margin-left: -.36em; /*Взято с гугла, убирает отступы м/д блоками
}
*/

/* Бордеры для обозначения границ блоков*/
.elem {
    border: 3px solid red;
}

.elem1 {
    border: 3px solid cornflowerblue;
}

.elem2 {
    border: 3px solid green;
} 
