body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 1fr 2fr 1fr;
    
    min-height: 100vh;
    min-width: 100vw;
}

.header {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
}

.left {
    grid-row: 2;
    grid-column: 1;
}

.center {
    grid-row: 2;
    grid-column: 2;
}

.right {
    grid-row: 2;
    grid-column: 3;
}

.footer {
    grid-row: 3;
    grid-column: 1/4;
    text-align: center;
}

.border-elements {
    border: 5px solid red;
}
